doctype html
	html
		head
			meta(charset='utf-8')
			title cv
			link(rel='stylesheet', type='text/css', href='style.css')
		body
			div(class='profile')
				div(class='profile-icon-border')
					div(class='profile-icon')