body {
  background-color: #fff;
  padding: 20px;
  width: 2300px;
  height: 3300px;
}
.col-1 {
  float: left;
  margin-right: 20px;
  width: 1000px;
  overflow: hidden;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px auto;
  background-color: #3d6cb0;
}
.avatar-border {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #3d6cb0;
}
.avatar-border {
  padding: 10px;
}
.profile-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("img/profile.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px auto;
}
.profile-icon-border {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #3d6cb0;
}
.contact-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("img/phone.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px auto;
}
.contact-icon-border {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #3d6cb0;
}
.skills-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("img/skills.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px auto;
}
.skills-icon-border {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #3d6cb0;
}
.education-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("img/education.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px auto;
}
.education-icon-border {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #3d6cb0;
}
.experience-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("img/experience.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px auto;
}
.experience-icon-border {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #3d6cb0;
}
.software-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url("img/software.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 20px auto;
}
.software-icon-border {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #3d6cb0;
}
.profile-icon-border,
.contact-icon-border,
.skills-icon-border,
.education-icon-border,
.experience-icon-border,
.software-icon-border {
  padding: 2px;
}
.profile {
  position: relative;
  height: 400px;
  width: 1000px;
  white-space: pre-wrap;
  font-family: "Myriad Pro";
  text-align: justify;
}
