doctype html
html(lang="en")
  head
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    div.col-1
      div.avatar-frame
        div.avatar
      h1 NAME HERE
      h2 SURNAME
      div.inner-content  
        div.profile-frame
          div.profile
        h1 PROFILE
      div.inner-content  
        div.contact-frame
          div.contact
        h1 CONTACT
      table
        tr
          td ADDRESS
          td 
        tr
          td E-MAIL
          td
        tr
          td PHONE
          td
        tr
          td WEBSITE
          td
      div.inner-content  
        div.skills-frame
          div.skills
        h1 SKILLS
        div.scale
          ul
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
        h2 CREATIVE
        div.scale
          ul
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
        h2 TEAMWORK
        div.scale
          ul
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
        h2 INNOVATE
        div.scale
          ul
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
        h2 COMMUNICATION        
        div.scale
          ul
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
