mixin skillList(id)
  ul(id=id)
    li.skilllvl
    li.skilllvl
    li.skilllvl
    li.skilllvl
    li.skilllvl
    li.skilllvl
    li.skilllvl
    li.skilllvl
    li.skilllvl
    li.skilllvl
    li.skilllvl
    li.skilllvl


doctype html
html(lang="en")
  head
  body
    div.col-1
      div.avatar-frame
        div.avatar
      h1 NAME HERE
      h2 SURNAME
      div.inner-content  
        div.profile-frame
          div.profile
        h1 PROFILE
      div.inner-content  
        div.contact-frame
          div.contact
        h1 CONTACT
      table
        tr
          td ADDRESS
          td 
        tr
          td E-MAIL
          td
        tr
          td PHONE
          td
        tr
          td WEBSITE
          td
      div.inner-content  
        div.skills-frame
          div.skills
        h1 SKILLS
        div.scale
          +skillList("skills")
        h2 CREATIVE
        div.scale
          +skillList("creative")
        h2 TEAMWORK
        div.scale
          +skillList("teamwork")
        h2 INNOVATE
        div.scale
          +skillList("innovate")
        h2 COMMUNICATION        
        div.scale
          +skillList("communication")
    div.col-2
      div.inner-content
        div.education-frame
          div.education
        h1 EDUCATION